<!-- 
<div class="footer">
    <p>Footer</p>
    <img src="/assets/twitter.png" />
    <ul class="unstyled">
            <h4>FollowUs</h4>
           
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Linkedin</a></li>

    </ul>

    <ul class="styled">
            <li><a href="#">Home</a></li>
            <li><a href="#">services</a></li>
            <li><a href="#">links</a></li>
            <li><a href="#">contactus</a></li>
        </ul>

  </div>
  
   -->

   <footer class= "fixed-footer">
        <a href="#"> <img src="assets/twitter.png" alt="twitter" /> </a>
        <a href="#"> <img src="assets/linkedin.png" alt="linkedin"/> </a>
        <a href="#"> <img src="assets/facebook.png" alt="facebook" /> </a>

        <ul class="styled">
                <li><a href="#">Home</a></li>
                <li><a href="#">services</a></li>
                <li><a href="#">links</a></li>
                <li><a href="#">contactus</a></li>
            </ul>

            <!-- <ul class="cr">
                    <a href="#"> <img src="assets/copyright.png" alt="twitter" /> </a>
            </ul> -->
      </footer>